@inject IAuthenticationManager AuthenticationManager

<div class="container">
    <AuthorizeView>
        <Authorized>
            <div class="authorized">
                <div class="nav-container-start">
                    <div class="nav-item">
                        <a class="nav-link" href="">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="/products">
                            <span class="oi oi-bug" aria-hidden="true"></span> Товар
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="/login">
                            <span class="oi oi-bug" aria-hidden="true"></span> About
                        </a>
                    </div>
                </div>

                <div class="nav-container-end">
                    <div class="nav-item">
                        <a class="nav-link" href="/cart">
                            <span class="oi oi-cart" aria-hidden="true"></span> Корзина
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" @onclick="Logout">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Выйти
                        </a>
                    </div>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="not-authorized">
                <div class="nav-container-end">
                    <div class="nav-item">
                        <a class="nav-link" href="/login">
                            <span class="oi oi-people" aria-hidden="true"></span> Login
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="/register">
                            <span class="oi oi-people" aria-hidden="true"></span> Register
                        </a>
                    </div>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async void Logout()
    {
        await AuthenticationManager.Logout();
    }
}
