

.container {
    display: flex;
    flex-direction: row;
    border: solid 1px;
    border-top: none;
    border-radius: 0px 0px 20px 20px;
    background-color: #333;
    padding: 0px;
    justify-content: space-between;
}


    .container.authorized {
        justify-content: space-between;
    }

.authorized {
    display: flex;
    flex-direction: row;
}

authorized nav-container-end {
    justify-content: end;
}

.nav-container-start, .nav-container-end {
    display: flex;
    flex-direction: row;
}

.not-authorized {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

/*.nav-container-start .nav-item {
    border-right: 1px solid #bbb;
}

.nav-container-end .nav-item {
    border-left: 1px solid #bbb;
}


.nav-link {
    color: white;
    text-decoration: none;
    overflow: hidden;
}

    .nav-link:hover {
        color: white;
        background-color: #709487;
    }

.active {
    color: white;
    background-color: #04AA6D;
}

.nav-link:visited {
    color: white;
}

.nav-link .nav-item :hover:not(.active) {
    background-color: black;
    color: white;
}
*/
