.container{
    margin-top:20px;
    padding:0px;

}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.right-container h3 {
   padding:0px;
}

.img-container {
    vertical-align:central;
    text-align:center;
    
}

img:hover {
    transform: scale(1.07);
    transition: 0.5s ease-in-out;
}
img {
  
    margin: 0px;
    object-fit: contain;
    width: 70%;
    max-height: 400px;
}

button{
    margin-bottom:5px;
}