.container{
   
    padding:0px;
    overflow:hidden;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.right-container h3 {
   padding:0px;
}

.img-container {
    border: solid 3px;
    border-radius: 5px;
    overflow: hidden;
}

img:hover {
    transform: scale(1.07);
    transition: 0.5s ease-in-out;
}
img {
    overflow: hidden;
    margin: 0px;
}

button{
    margin-bottom:5px;
}