@page "/ProductDetails/{Id:guid}"
@using Diplom.Client.Infrastructure.Managers.ProductManager
@attribute [Authorize]
@inject IProductManager ProductManager
@inject IToastService ToastService


<div class="row container">
    <div class="col-md-6 ">
        <div class="img-container">
            <img class="img-fluid" src="@Product.ImgUrl">
        </div>

    </div>
    <div class="col-md-6 right-container">
        <div class="row">
            <h3 class="ml-3">@Product.Name</h3>
            <p class="mb-4">@Product.Description</p>

        </div>
        <div class="row">
            <p class="mb-4">
                <b>
                    Цена: @Product.Price₽
                </b>
            </p>
            <button class="btn btn-outline-dark"
                    @onclick="() => AddToCart_Click()">
                <b>Add to Cart</b>
            </button>

        </div>

    </div>

</div>

@code {
    [Parameter]
    public Guid Id { get; set; }

    public ProductResponseDto Product { get; set; } = new();



    protected async override Task OnInitializedAsync()
    {
        Product = await ProductManager.GetById(Id);
    }

    private void AddToCart_Click()
    {
        ToastService.ShowInfo("Добавлено в корзину", "Корзина");
    }
}
