@inject IProductManager ProductManager
@inject IOrderManager OrderManager

<div style="display:flex; flex-flow:row wrap;">
    @foreach (var product in Products)
    {
        <ProductCard Product=@product>

        </ProductCard>
    }
</div>


@code {
    [Parameter]
    public Guid CategoryId { get; set; }

    private List<ProductResponseDto> Products { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        Products = await ProductManager.GetAll();
    }

    protected async override Task OnParametersSetAsync()
    {
        if (CategoryId != Guid.Empty)
        {
            Products = await ProductManager.GetByCategoryId(CategoryId);
        }
        else
        {
            Products = await ProductManager.GetAll();
        }
    }
}
