@inject IAuthenticationManager AuthManager

<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  color: white;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li .nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link:hover{
    color:white;
}

li .nav-link .nav-item :hover:not(.active) {
  background-color: black;
  color:white;
}

.active {
    color:white;
    background-color: #04AA6D;
}
</style>

<body>
    <ul>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item active">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/products" Match="NavLinkMatch.All">
                        <span class="oi oi-bug" aria-hidden="true"></span> Products
                    </NavLink>
                </li>
                <li class="nav-item" style="float:right">
                    <NavLink class="nav-link" @onclick="Logout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item" style="float:right">
                    <NavLink class="nav-link" href="/login" Match="NavLinkMatch.All">
                        <span class="oi oi-people" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
                <li class="nav-item" style="float:right">
                    <NavLink class="nav-link" href="/register" Match="NavLinkMatch.All">
                        <span class="oi oi-people" aria-hidden="true"></span> Register
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>

    </ul>

@*<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li style="float:right"><a href="#about">About</a></li>
</ul>*@

</body>


@code {
     private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async void Logout()
    {
        await AuthManager.Logout();
    }
}
