@using Blazored.Toast.Configuration
@using Diplom.Client.Shared.NavMenu
@inherits LayoutComponentBase


<div class="container">

    <HtmlCssNavMenu />

    <div class="content px-1">
        @Body
    </div>

    <BlazoredToasts Position="ToastPosition.BottomLeft"
                    Timeout="2"
                    IconType="IconType.FontAwesome"
                    SuccessClass="success-toast-override"
                    SuccessIcon="fa fa-thumbs-up"
                    ErrorIcon="fa fa-bug" />

   

</div>

