@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
<MudThemeProvider/>
@*<div class="page">
    <div class="sidebar">
        <MyNavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
*@

<div class="container">
  
       @* <CustomNavMenu />*@
        <HtmlCssNavMenu/>
       
    
        <div class="content px-4">
            @Body
        </div>

        <BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="4"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />

</div>
