@inject IAuthenticationManager AuthManager

<nav class="navbar navbar-expand-sm navbar-light ng-dark">
   
        <a class="navbar-brand" href="">Diplom</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
   


    <div class="@NavMenuCssClass navbar-collapse" >
        <nav class="navbar-nav mr-auto">
            <AuthorizeView>
                <Authorized>
                    <div class="nav-item">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </div>
                    <div class="nav-item">
                        <NavLink class="nav-link" href="/products" Match="NavLinkMatch.All">
                            <span class="oi oi-bug" aria-hidden="true"></span> Products
                        </NavLink>
                    </div>
                    <div class="nav-item">
                        <NavLink class="nav-link" @onclick="Logout">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                        </NavLink>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item">
                        <NavLink class="nav-link" href="/login" Match="NavLinkMatch.All">
                            <span class="oi oi-people" aria-hidden="true"></span> Login
                        </NavLink>
                    </div>
                    <div class="nav-item">
                        <NavLink class="nav-link" href="/register" Match="NavLinkMatch.All">
                            <span class="oi oi-people" aria-hidden="true"></span> Register
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>

        </nav>
    </div>

</nav>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async void Logout()
    {
        await AuthManager.Logout();
    }
}
