@inject IOrderManager OrderManager

<div style="margin-bottom:10px;">
    <h4>Номер заказа: @Order?.Id</h4>
    <p style="margin-top:5px;">Дата создания: @Order?.CreateDate</p>
</div>
<div style="display:flex; justify-content:flex-end;">
    <button @onclick="ModalInstance.CloseAsync" class="btn btn-secondary">Закрыть</button>
</div>
   

@code {
    [CascadingParameter] 
    BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public List<CartDto> CartItems{ get; set; }

    private OrderResponseDto Order { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        Order = await OrderManager.CreateOrderAsync(CartItems);
    }

    private void Close()
    {
        ModalInstance.CloseAsync();
    }
}
