

<a href="/ProductDetails/@Product.Id">
    <div class="card">

        <div class="card-img-top">
            <img  src="@Product.ImgUrl">
        </div>

        <div class="card-body">
            <h6 class="card-title mb-3">
                @Product.Name
            </h6>
            <p class="card-text">
                <b>@Product.Price₽</b>
            </p>
        </div>

    </div>
</a>

@code {

    [Parameter]
    public ProductResponseDto Product { get; set; }
}
