
a {
    margin: 10px 10px;
    text-decoration: none;
}

    a:hover .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: box-shadow 0.3s ease-in-out;
    }

.card {
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
    width: 10rem;
    height: 17rem;
    text-align: center;

    display:flex;
    flex-direction:column;
    align-content:space-between;
}

a:hover img {
    transform: scale(1.07);
    transition: 0.5s ease-in-out;
}

img {
    width: 70%;
    height: 130px;
 
    object-fit: contain;
 
    transition: 0.5s ease-in-out;
}

.card-img-top{
    margin-top:10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    margin-top:1px;
    border-top: solid 1px;
    border-color:gray;
    padding-top:2px;
}
